.header {
  width: 100%;
  padding: 1.5rem 5%;
  background-color: #1B1B1B;
  border-bottom: 1px solid #333; 
  border-radius: 5px;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center; 
}

.navMenu {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between; 
  align-items: center;

  ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--cinza-texto); 
    position: relative; 
    transition: color 0.3s ease;

    &:hover {
      color: #ffffff; 
    }

    
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -4px; 
      width: 0;
      height: 2px;
      background-color: #00ff41; 
      transition: width 0.3s ease; 
    }

    &:hover::after {
      width: 100%; 
    }
  }
}

.navSocial a::after {
  display: none;
}
